<!DOCTYPE HTML>
<html>
<head>
    <title>ROS2 Phone Sensors</title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='time_reference.js') }}"></script>
    <script src="{{ url_for('static', filename='imu.js') }}"></script>
    <script src="{{ url_for('static', filename='gnss.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            function logMessage(text) {
                socket.emit("info", text);
                $("#log").append("<br>" + $("<div/>").text(text).html());
            };

            Promise.all([
                navigator.permissions.query({ name: "accelerometer" }),
                navigator.permissions.query({ name: "magnetometer" }),
                navigator.permissions.query({ name: "gyroscope" }),
                navigator.permissions.query({ name: "geolocation" })]
            ).then(results => {
                if (results.every(result => result.state === "granted")) {
                sensor.start();
                    logMessage("Access to all sensors");
                } else {
                    logMessage("No all permissions granted");
                }
            });

            socket.on("connect", function() {
                logMessage("Connected to server")
            });

            // This is an example for adding a button action
            $( "#trigger" ).on( "submit", function( event ) {
                logMessage("Trigger pushed");
                event.preventDefault();
            });

            registerTimeReferencePublisher(socket); // from time_reference.js
            registerImuPublisher(socket); // from imu.js
            registerGpsPublisher(socket); // from gnss.js

        });
    </script>
    <h1>ROS2 Phone Sensors</h1>

    <form id="trigger" method="POST" action="#">
        <input type="submit" value="Trigger">
    </form>

    <h2>Receive:</h2>
    <div id="log"></div>

</body>
</html>
